/*-- scss:defaults --*/

// fonts, port code from xaringan
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);

$font-family-sans-serif: "Roboto Condensed", "Book Antiqua", Palatino,
  FreeSerif, serif !default;


// colors
$body-bg: #FFFFFF !default;
$body-color: #000 !default;
$link-color: #00A4E1 !default;
$selection-bg: #26351c !default;
// from https://github.com/InseeFrLab/onyxia-quarto
$orange: rgb(255, 86, 44);
$black: rgb(44, 50, 63);
$white: rgb(241, 240, 235);
$green: rgb(186, 255, 41);

// headings
$presentation-heading-font: $font-family-sans-serif  !default;
$presentation-heading-color: #00A4E1 !default;
$presentation-title-slide-text-align: center !default;

// code
//$code-color: #88398A !default;
//$font-family-monospace: "Fira Mono", "Liberation Mono", monospace  !default;
$presentation-font-size-root: 40px !default;


/*-- scss:rules --*/

/* Title page custom */
/* adapted from https://github.com/mcanouil/quarto-revealjs-storybook  */
#title-slide .title, #title-slide .subtitle {
  opacity: 0.80;
  margin-top: 0px;
  margin-bottom: 0px;
}

#title-slide .title {
  color: #515151;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 5px;
}

#title-slide .subtitle {
  color: $presentation-heading-color;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2em;
}

#title-slide .institute, #title-slide .author, #title-slide .date {
  opacity: 0.50;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-style: italic;
}

#title-slide .author,
#title-slide .date,
#title-slide .institute {
  font-size: 1em;
  margin-top: 20px;
}

#title-slide .institute {
  font-weight: bold;
  color: $orange;
}

.reveal .progress {
  height: 6px;
}

.reveal .slide-practical {
  background-color: #e4f0ff;
}

.reveal .slide blockquote {
  border-left: 9px solid $link-color;
  padding-left: 0.5em;
}

.reveal .slide blockquote:before {
    display: block;
    font-size: 300%;
    color: $link-color;
    content: "\201C";
    margin-left: -0.1em;
    margin-bottom: -200px;
    position:relative;
    top:-30px;
}

.reveal .slide a {
  text-decoration: underline;
  text-decoration-color: $orange;
}

.reveal code {
  color: #5d1ea8;
}

.red {
  color: #cc0000;
}

.green {
  color: #228C22;
}

.yellow {
  color: #FFD801;
}

.blue {
  color: #00a4e1;
}

.small {
  font-size: 0.7em;
}

.large {
  font-size: 1.2em;
}

.Large {
  font-size: 1.5em;
}

.huge {
  font-size: 1.8em;
}

/* from https://github.com/robjhyndman/robjhyndman.com/blob/main/styles.css
blockquote {
  background: #e9e9e9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: normal;
  font-size: 95%;
} */

/* https://github.com/quarto-dev/quarto-cli/discussions/7356#discussioncomment-7396306 */
/* Christophe Dervieux */
.table-striped {
  > tbody > tr:nth-of-type(odd) > * {
    background-color: #f2f2f2;
  }
}

.thanks {
	padding: 20px 0; /* top and bottom padding */
  padding-left: 15px;
  padding-right: 15px;
	color:#fff;
	font-size: 56px;
	display: inline;
	border-radius: 15px;
	background-color: #4582ec;
}
